body, h1, h2, h3, h4, h5, h6, p {
  font-family: 'Monaco', monospace;
}


.app-container-lg {
  background-color: #FAF3E0; /* Soft Beige */
  height: 100vh;
}

.title-section {
  position:relative;
}

.chat-widget {
  max-width: 500px;
  height: 500px;
  border: 2px solid #F2A365; /* Colorful flare */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.subtitle {
  font-size: 1.2em;
  font-style: italic;
}

.chat-callout {
  position:absolute;
  right: 160px; 
  bottom: 120px; 
  cursor: pointer;
}

.chat-callout p {
  font-size: 2.8em;
  font-weight: bold;
  font-style: italic;
  color: #800080;
  margin: 0;
}

.chat-callout .bi-arrow-down-right {
  display: block;
  font-size: 100px;
  color:#800080;
  margin-top: 150px;
}

.additional-text {
  font-size: 1.2em;
  color: #800080;
  margin-top: 20px;  /* Adjust spacing as needed */
}


.modal-dialog {
  max-width: 90vw;
  margin: auto;
}

/* To make sure the content of the modal does not overflow */
.modal-content {
  overflow-y: auto;
  max-height: 80vh;
  max-height: 60vh;
  padding: 20px; /* Reduced padding */
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); 
  width: 90%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* This will help in ensuring the modal backdrop covers the entire screen */
.modal-backdrop.show {
  opacity: 0.5;
}

